/*colors*/
$grey-text: #333333;
$grey-header: #f2f2f2;
$lighter-text: #444444;
$light-text: #4f4f4f;
$darkgrey-text: #222222;
$darkest-text: #111111;
$accent-orange: #f3ab00;
$button-orange: #dda41d;

/* global breakpoints */

$minwidth: 320px;
$mw: 120.1;

/* Fonts */

$font-inter: 'Inter', 'Arial', sans-serif;
$font-cormorant: 'Cormorant', 'Times New Roman', serif;
