.description {
  &__title {
    margin-bottom: 2.4rem;
  }

  &__text {
    max-width: 59.5rem;
    font-size: 2.4rem;
    line-height: 3.6rem;

    color: #000000;
    margin-bottom: 4.4rem;
  }
  &__packages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 8.2rem;
  }

  &__package-item {
    height: 9.8rem;
    position: relative;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.12);
    border-radius: 2.4rem;
    background-image: url('../../images/package-bg.png');
    background-size: 42%;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__package-item:hover {
    transform: scale(1.05, 1.05);
  }

  &__package-inner {
    padding: 1.7rem 1.7rem 1.7rem 16.8rem;
  }

  &__package-quantity {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  &__package-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__package-price {
    font-family: $font-inter;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  &__package-arrow {
    margin-left: 1.6rem;
    cursor: pointer;
  }

  &__disclaimer {
    font-family: $font-inter;
    font-size: 2.4rem;
    line-height: 3.2rem;

    opacity: 0.8;
    max-width: 73rem;
  }
}

@media (max-width: 1200px) {
  .description {
    /*    &__title {
      font-size: 4.8rem;
      line-height: 5.2rem;
    }

    &__text {
      font-size: 4.4rem;
      line-height: 4.8rem;
    }
    &__services-list {
      grid-gap: 2rem;
    } */

    &__packages-list {
      grid-gap: 2rem;
    }

    &__package-quantity {
      font-size: 2rem;
      line-height: 3rem;
    }

    &__package-price {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
}

@media (max-width: 1024px) {
  .description {
    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 13.8rem;
    }
  }
}

@media (max-width: 920px) {
  .description {
    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 12rem;
    }
  }
}

@media (max-width: 860px) {
  .description {
    &__packages-list {
      grid-template-columns: repeat(1, 1fr);
    }
    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 16.8rem;
    }
    &__package-item {
      background-size: 20%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 740px) {
  .description {
    /*  &__services-list {
      grid-template-columns: repeat(1, 1fr);
    } */

    &__packages__list {
      margin-bottom: 4.2rem;
    }

    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 16.8rem;
    }
    &__package-item {
      background-size: 25%;
    }
  }
}

@media (max-width: 640px) {
  .description {
    &__package-item {
      background-size: 30%;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 540px) {
  .description {
    &__package-item {
      background-size: 40%;
      justify-content: center;
    }
  }
}
