.description {
  padding-top: 5rem;
  padding-bottom: 7.2rem;
  &__title {
    max-width: 106rem;
    font-family: $font-cormorant;

    font-weight: 700;
    font-size: 5.6rem;
    line-height: 6.4rem;
    color: #000000;
    margin-bottom: 4.8rem;

    span {
      text-decoration-line: underline;
    }
  }

  &__services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 6.4rem;
  }

  &__text {
    font-family: $font-cormorant;

    font-weight: 600;
    font-size: 4.8rem;
    line-height: 5.8rem;

    color: #000000;
    max-width: 105rem;
    margin-bottom: 3.6rem;
  }
  &__packages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 4rem;
  }

  &__package-item {
    position: relative;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.12);
    border-radius: 2.4rem;
    background-image: url('../../images/package-bg.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    overflow: hidden;
  }

  &__package-inner {
    padding: 1.7rem 1.7rem 1.7rem 16.8rem;
  }
  /*   &__package-img {
    position: absolute;
    top: -35%;
    left: 5%;
    z-index: 5;
  } */

  &__package-quantity {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  &__package-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__package-price {
    font-family: $font-inter;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  &__package-arrow {
    margin-left: 1.6rem;
    cursor: pointer;
  }

  &__disclaimer {
    font-family: $font-inter;
    font-size: 2.4rem;
    line-height: 3.2rem;

    opacity: 0.8;
    max-width: 73rem;
  }
}

@media (max-width: 1200px) {
  .description {
    &__title {
      font-size: 4.8rem;
      line-height: 5.2rem;
    }

    &__text {
      font-size: 4.4rem;
      line-height: 4.8rem;
    }
    &__services-list {
      grid-gap: 2rem;
    }

    &__packages-list {
      grid-gap: 2rem;
    }

    &__package-quantity {
      font-size: 2rem;
      line-height: 3rem;
    }

    &__package-price {
      font-size: 2rem;
      line-height: 2.4rem;
    }

    /* &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 14.8rem;
    } */

    /*  &__package-item {
      padding: 1.7rem 1.7rem 1.7rem 14.8rem;
    } */
    /*   &__package-arrow {
      margin-left: 0.8rem;
    } */

    /*  &__package-img {
      left: 0;
    } */
  }
}

@media (max-width: 1024px) {
  .description {
    /*     &__package-img {
      width: 15rem;
      height: 15rem;
      top: -40%;
      left: 5%;
    }
    &__package-img {
      top: -8%;
    }
    &__package-item {
      padding: 2.4rem 2.4rem 2.8rem 15.8rem;
    } */
    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 13.8rem;
    }
  }
}

@media (max-width: 860px) {
  .description {
    &__packages-list {
      grid-template-columns: repeat(1, 1fr);
    }
    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 16.8rem;
    }
    &__package-item {
      background-size: 20%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 740px) {
  .description {
    &__services-list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__package-inner {
      padding: 1.7rem 1.7rem 1.7rem 16.8rem;
    }
    &__package-item {
      background-size: 25%;
    }

    /*     &__package-item {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 11% 50%;
      padding: 2.4rem 2.4rem 2.8rem 22rem;
    } */
    /*     &__package-img {
      top: -25%;
      left: 8%;
    }

    &__package-arrow {
      margin-left: 4rem;
    } */
  }
}

@media (max-width: 640px) {
  .description {
    &__package-item {
      background-size: 30%;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 540px) {
  .description {
    &__package-item {
      background-size: 40%;
      justify-content: center;
    }
  }
}

/* @media (max-width: 540px) {
  .description {
    &__package-item {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 5% 50%;
      padding: 2.4rem 2.4rem 2.8rem 18rem;
    }
    &__package-img {
      width: 16rem;
      height: 16rem;
      top: -15%;
      left: 3%;
    }

    &__package-arrow {
      margin-left: 3rem;
    }
  }
}
 */
