.description {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  &__title {
    max-width: 106rem;
    font-family: $font-cormorant;

    font-weight: 700;
    font-size: 5.6rem;
    line-height: 6.4rem;
    color: #000000;
    margin-bottom: 4.8rem;

    span {
      text-decoration-line: underline;
    }
  }

  &__services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 6.4rem;
  }

  &__text {
    font-family: $font-cormorant;

    font-weight: 600;
    font-size: 4.8rem;
    line-height: 5.8rem;

    color: #000000;
    max-width: 105rem;
    margin-bottom: 3.6rem;
  }
  &__packages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-bottom: 4rem;
  }

  &__package-item {
    position: relative;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.12);
    border-radius: 2.4rem;
    background-image: url('../../images/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 11% 50%;
    padding: 2.4rem 2.4rem 2.8rem 25.8rem;
  }
  &__package-img {
    position: absolute;
    top: -40%;
    left: 5%;
    z-index: 5;
  }

  &__package-quantity {
    font-family: $font-inter;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    margin-bottom: 0.4rem;
  }
  &__package-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__package-price {
    font-family: $font-inter;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  &__package-arrow {
    margin-left: 6rem;
    cursor: pointer;
  }

  &__disclaimer {
    font-family: $font-inter;
    font-size: 2.4rem;
    line-height: 3.2rem;

    opacity: 0.8;
    max-width: 73rem;
  }
}
