.funds {
  padding-bottom: 7.2rem;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-link {
    font: $font-opensans;
    color: $darkest-text;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.6rem;

    cursor: pointer;
  }

  &__title {
    margin-bottom: 1.6rem;
  }

  &__text {
    max-width: 75rem;
    margin-bottom: 4.8rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 4.8rem;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 860px) {
  .funds {
    &__list {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    &__top {
      flex-direction: column;
    }

    &__title,
    &__top-link {
      align-self: flex-start;
    }

    &__top-link {
      margin-bottom: 1.6rem;
    }
  }
}

@media (max-width: 640px) {
  .funds {
    &__btn {
      width: 100%;
    }
  }
}
