.header {
  min-height: 6.4rem;
  border-top: 0.1rem solid rgba(34, 34, 34, 0.2);
  border-bottom: 0.1rem solid rgba(34, 34, 34, 0.2);

  &--fullscreen {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0;
  }

  &__logo {
    margin-left: 1.3rem;
  }
}

@media (max-width: 740px) {
  .header {
    &__nav {
      flex-wrap: wrap;
    }
  }
}
