.header {
  min-height: 6.4rem;
  border-top: 0.1rem solid rgba(34, 34, 34, 0.2);
  border-bottom: 0.1rem solid rgba(34, 34, 34, 0.2);

  &--fullscreen {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  }
  &__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0;
  }
  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-left: 1.3rem;
  }
}

@media (max-width: 740px) {
  .header {
    &__nav {
      flex-wrap: wrap;
    }

    /*     &__nav-wrapper {
      position: absolute;
      background: rgba(255, 255, 255, 0.9);
      top: 0;
      right: 0;
      &.active {
        display: flex;
        top: 6.4rem;
        //left: 50%;
        width: 80%;
        //transform: translateX(-50%);
        border: 0.1rem solid #bebebe;

        flex-direction: column;
        pointer-events: all;
        justify-content: center;
        align-items: center;
        z-index: 200;
        animation: fade 0.1s linear;
        border-radius: 1.2rem;

        padding: 3.6rem;
      }
    }
    &__nav-wrapper.active .menu,
    &__nav-wrapper.active .menu__list {
      position: relative;
      display: block;
      z-index: 300;
    } */
  }
}
