.menu {
  &--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 6.4rem;
    margin-left: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item:not(:last-child) {
    margin-right: 3.6rem;
  }
  &__item-img {
    margin-right: 1.2rem;

    fill: $darkgrey-text;

    path {
      fill: $darkgrey-text;
    }
  }

  &__burger {
    display: block;
    position: relative;
    height: 2.2rem;
    width: 2.8rem;
    margin-top: 0.2rem;

    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 0.4rem;
      width: 2.8rem;
      background: $darkgrey-text;
    }

    &::before {
      top: 0;
      right: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    span {
      position: absolute;
      top: 0.9rem;
      right: 0;
      width: 2.8rem;
      background: $darkgrey-text;
      height: 0.4rem;
    }
  }

  &__burger--white {
    &::before,
    &::after {
      background: #fff;
    }

    span {
      background: #fff;
    }
  }

  &--transparent .menu__list-link {
    color: $grey-header;
  }

  &--transparent .menu__item-img {
    fill: #fff;

    path {
      fill: #fff;
    }
  }

  &__list-wrapper {
    position: absolute;
    background: #fff;
    border: 0.1rem solid #f2f2f2;
    box-shadow: 0px 0.4rem 4rem rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;

    top: 0;
    right: 0;

    display: none;

    &.active {
      display: flex;
      top: 6.5rem;
      //left: 50%;
      width: 60%;
      min-height: 50vh;

      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 200;
      animation: fade 0.1s linear;

      padding: 3.6rem;
    }
  }

  &__list {
    width: 100%;
  }
  &__submenu {
    position: initial;
    top: initial;
    left: initial;
    width: 100%;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
    padding: 0;
    display: none;
  }

  &__list-item {
    width: 100%;
  }

  &__list-item:hover > .menu__submenu {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
    pointer-events: auto;
  }

  &__list-itemimg {
    text-align: center;
    display: inline-block;
    margin-left: 0.6rem;
  }

  &__list-itemlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
  }
  &__list-item:not(:last-child) {
    border-bottom: 1px solid #a5a5a5;
  }

  &__subitem-link {
    width: 100%;
    display: block;
    padding: 2rem 2rem 2rem 3.6rem;
  }

  &__list-itemlink:hover,
  &__subitem-link:hover {
    color: $button-orange;
  }
  &__list-btn--mobile {
    margin-right: 2.4rem;
    color: $button-orange;
    background-color: transparent;
    border: 0.1rem solid $darkgrey-text;
  }

  &__list-btns {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }
}

@media (max-width: 740px) {
  .menu {
    &--desktop {
      margin-right: 0;
      display: none;
    }

    &__list {
      margin-bottom: 5.4rem;
    }

    &__list-btn--mobile {
      display: block;
    }

    &__list-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    &__list-wrapper.active {
      width: 80%;
    }
  }
}

@media (max-width: 640px) {
  .menu {
    &__list-btns {
      flex-direction: column;
      align-self: start;
    }
    &__list-btn {
      margin-bottom: 1.6rem;
    }
  }
}
