.news {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
  &__tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 3.6rem;
    opacity: 0.6;
    margin-right: 3.6rem;
    cursor: pointer;

    &.active {
      margin-bottom: 3.6rem;
      opacity: 1;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3.6rem 3rem;

    margin-bottom: 4.8rem;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    padding: 2.4rem;
    border-radius: 2.4rem;
    background-image: url(../../images/default-image.png);
    overflow: hidden;

    background-size: cover;
    height: 31rem;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 61.29%,
        rgba(0, 0, 0, 0.6) 100%
      );
      z-index: 2;
    }
  }

  &__item:first-child,
  &__item:nth-child(2),
  &__item:nth-child(3) {
    grid-column: span 2;
  }

  &__item:nth-child(4),
  &__item:nth-child(5) {
    grid-column: span 3;
  }

  &__item-inner {
    position: relative;

    z-index: 3;
  }

  &__item-text {
    color: #fff;

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  &__btn {
    margin: 0 auto;
    width: auto;
    background-color: $button-orange;
    color: #fff;

    font-size: 1.6rem;
    line-height: 3.6rem;
    padding: 1rem 5.4rem;

    border: none;
  }

  &__btn:hover {
    background-color: #c2770f;
  }
}

@media (max-width: 740px) {
  .news {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 3rem;
    }

    &__item:first-child,
    &__item:nth-child(2),
    &__item:nth-child(3) {
      grid-column: span 6;
    }

    &__item:nth-child(4),
    &__item:nth-child(5) {
      grid-column: span 6;
    }

    &__title {
      font-size: 2.8rem;
      line-height: 2.8rem;
      margin-right: 2.4rem;
    }
  }
}
