.poll {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 5.6rem;

  &__wrapper {
    max-width: 160rem;
    margin: 0 auto;

    background-image: url('../../images/poll-bg.svg');
    background-position: top -3rem left 3%;
    background-repeat: no-repeat;
  }

  &__title {
    line-height: 4.8rem;
    margin-bottom: 2.4rem;
    max-width: 48.5rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  &__btn-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 1480px) {
  .poll {
    &__wrapper {
      background-size: 50%;

      background-position: top 50% left 0;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 767px) {
  .poll {
    &__inner {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }
}

@media (max-width: 640px) {
  .poll {
    &__wrapper {
      padding-bottom: 23rem;
      background-size: 80%;
      background-position: bottom 0 left 50%;
    }

    &__btn {
      width: 100%;
    }
  }
}
