.portfolio {
  margin-bottom: 3.9rem;
  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.4rem;
  }

  &__btn {
    width: auto;
    padding: 1.1rem 2.6rem;
    background-color: $darkest-text;
    color: #fff;
  }

  &__slider-container {
    position: relative;
  }

  & .swiper-slider {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  &__item-wrapper {
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
  }

  &__slide-delete {
    position: absolute;
    color: #fff;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
    display: block;
    padding: 0.2rem;
  }

  &__slider-img {
    width: 100%;
    height: 20.8rem;

    object-fit: cover;
  }

  &__file-input {
    display: none;
  }
}
