.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__stars {
    display: inline-flex;
    max-width: 13.6rem;
    height: 2.4rem;
  }

  /* make hover effect work properly in IE */
  &__star {
    pointer-events: none;
  }

  /* hide radio inputs */
  &__input {
    display: none;
  }

  &__label {
    padding: 0 0.2rem 0 0.2rem;

    &--none {
      display: none;
      padding: 0;
    }
  }

  &__label--green {
    padding: 0 0.2rem 0 0.2rem;
  }

  /* set default star color */
  &__star {
    fill: $accent-orange;

    path {
      fill: $accent-orange;
    }
  }

  &__star--green {
    fill: $button-green;
    path {
      fill: $button-green;
    }
  }

  &__star .rating--green__star-path {
    stroke: $border-green;
    stroke-width: 0.1rem;
  }

  /* if any input is checked, make its following siblings grey  */
  &__input:checked ~ .rating__label .rating__star {
    fill: #fff;

    path {
      fill: #cccccc;
    }
  }

  /* if any input is checked, make its following siblings grey  */
  &__input--green:checked ~ .rating__label--green .rating__star--green {
    fill: #fff;
    stroke: #b4b4b4;
    stroke-width: 0.1rem;

    /*  path {
      fill: #cccccc;
    } */
  }
}

@media (max-width: 860px) {
  .rating {
    &__star {
      width: 16px;
      height: 16px;
    }
    &__stars {
      max-width: 9.6rem;
      height: 1.6rem;
    }

    &__label {
      padding: 0 0.2rem 0 0.2rem;
    }
  }
}
