.rate {
  &__btn {
    transform: all 0.5s ease;
    width: 12rem;
    height: 4.8rem;
    background-color: $button-orange;
    color: #fff;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border: none;
    border-radius: 2.4rem;
    z-index: 10;
    box-shadow: 0 16px 48px rgba(0, 16, 61, 0.28);
    cursor: pointer;
    &:hover {
      background-color: #c2770f;
      opacity: 1;
    }
  }
}
