.services {
  margin-bottom: 5.6rem;
  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.9rem;
  }

  &__btn {
    width: auto;
    color: #fff;
    background-color: $darkest-text;
    border: none;
    padding: 1.1rem 3.6rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  &__item {
    position: relative;
    height: 41.2rem;
    color: #fff;

    padding: 3.6rem;
    border-radius: 1.2rem;
    background-image: url(../../images/expert-1.jpg);
    background-position: top center;
    overflow: hidden;
    background-size: cover;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }
  }

  &__item-inner {
    position: relative;

    z-index: 3;
  }

  &__item-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 0.4rem;
  }

  &__item-params {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.8rem;
  }

  &__item-divider {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;

    background: #989898;
  }

  &__param {
    font-weight: 700;
  }
  &__param:not(:last-child) {
    margin-right: 1.6rem;
  }
  &__param:not(:first-child) {
    margin-left: 1.6rem;
  }
  &__param--edit {
    color: #fff;

    border-bottom: 0.1rem solid #fff;
    cursor: pointer;
  }

  &__info-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
  }
  &__list-container {
    position: relative;
  }

  &__arrow {
    border: none;
    background-color: transparent;

    cursor: pointer;

    position: absolute;

    display: block;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  &__button-prev {
    left: -7rem;
  }

  &__button-next {
    right: -7rem;
  }
}

@media (max-width: 1400px) {
  .services {
    &__button-prev {
      top: -5rem;
      left: 18.5%;
    }

    &__button-next {
      top: -5rem;
      left: 24.5%;
    }
  }
}

@media (max-width: 1024px) {
  .services {
    &__list {
      grid-gap: 1.2rem;
    }

    &__item-params {
      flex-wrap: wrap;
    }

    &__button-prev {
      top: -5rem;
      left: 18.5%;
    }

    &__button-next {
      top: -5rem;
      left: 24.5%;
    }
  }
}

@media (max-width: 860px) {
  .services {
    &__list {
      grid-template-columns: 1fr;
      grid-gap: 1.2rem;
    }

    &__item-title {
      line-height: 2.4rem;
    }

    &__button-prev {
      top: -5rem;
      left: 22.5%;
    }

    &__button-next {
      top: -5rem;
      left: 31.5%;
    }
  }
}

@media (max-width: 768px) {
  .services {
    &__button-prev {
      top: -5rem;
      left: 30.5%;
    }

    &__button-next {
      top: -5rem;
      left: 39.5%;
    }
  }
}

@media (max-width: 640px) {
  .services {
    &__item {
      height: 60rem;
    }
  }
}

@media (max-width: 540px) {
  .services {
    padding-bottom: 3.6rem;
    position: relative;
    & .container::before {
      position: absolute;
      content: '';
      width: calc(100% - 2rem);
      height: 0.1rem;
      background: #b2b7d7;
      right: 1rem;
      left: 1rem;
      bottom: 0;
    }

    &__top {
      flex-wrap: wrap;
      margin-bottom: 4.8rem;
    }

    &__list-container {
      margin-top: 7.2rem;
    }

    &__btn {
      width: 100%;
      margin-top: 1.2rem;
    }

    &__arrow {
      width: 2.4rem;
      height: 2.4rem;
    }

    &__button-prev {
      top: -3.6rem;
      left: 5%;
    }

    &__button-next {
      top: -3.6rem;
      left: 15.5%;
    }
  }
}

@media (max-width: 420px) {
  .services {
    &__param:last-child {
      margin-left: 0;
    }
  }
}
