.ticket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(194, 194, 194, 0.5);
  }

  &__img {
    width: 5.6rem;
    flex-shrink: 0;
    height: 5.6rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1.6rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $grey-text;
    margin-top: 0.4rem;
  }
  &__price {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $grey-text;

    opacity: 0.7;
  }
}

@media (max-width: 640px) {
  .ticket {
    &__title {
      line-height: 1.6rem;

      margin-bottom: 1rem;
    }
  }
}
